@media only screen and (max-width: 1250px) {
  .container {
    width: 100%;
  }
  .grid-page {
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 60px;
  }
}
@media only screen and (max-width: 1150px) {
  .container {
    width: 100%;
  }
}
@media only screen and (max-width: 1090px)
{
  .grid-adv-ost {
    grid-template-columns: 1fr;
    grid-template-rows:  450px 450px 450px;
    width: 90%;
  }
  .eemaldaost{
    width: 40px;
  }
}
@media only screen and (max-width: 1050px) {
  .container {
    width: 100%;
  }

  #main-content {
    width: 90%;
  }

  #maps-content,
  #contact-text {
    flex-direction: column;
    align-items: center;
    width: 70%;
  }
}
@media only screen and (max-width: 1000px) {
  .container {
    width: 100%;
  }


  .grid-page {
    grid-template-columns: 1fr 1fr;
  }

  .toote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
  }
  #toote-kirjeldus h2 {
    margin-top: 20%;
  }

  #toote-kirjeldus .btn-uudis {
    width: 100%;
  }
}
@media only screen and (max-width: 900px) {
  .container {
    width: 100%;
  }
  #main-content {
    width: 50%;
  }
  /*-----------------HAMBURGER-----------*/

  .hamburger {
    display: block;
    opacity: 0;
  }

  .hamburger-icon {
    display: block;
  }

  nav ul {
    display: none;
    font-size: 30px;
  }

  .hamburger:checked ~ ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
  }

  .line {
    transition: all 0.2s;
  }

  .hamburger:checked ~ .hamburger-icon .line {
    transition: all 0.2s;
  }

  .hamburger:checked ~ .hamburger-icon .upper-line {
    transform: rotate(45deg) translate(7px, 6px);
  }

  .hamburger:checked ~ .hamburger-icon .middle-line {
    opacity: 0;
  }

  .hamburger:checked ~ .hamburger-icon .lower-line {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  .uudis-content p {
    font-size: 18px;
  }
  #toote-kirjeldus h2 {
    margin-top: 0;
  }
}

@media only screen and (max-width: 800px) {
  .container {
    width: 100%;
  }
  #main-content {
    align-content: center;
    width: 40%;
  }
  h1 {
    font-size: 70px;
  }
  .uudis-img {
    width: 95%;
  }


  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin-left: auto;
    margin-right:auto;}
  .column img{
    width: 100%;
  }
  #maps-content,
  #contact-text {
    flex-direction: column;
    align-items: center;
  }
  footer p {
    font-size: 20px;
  }
}

@media only screen and (max-width: 750px) {
  .container {
    width: 100%;
  }
  #main-content {
    width: 40%;
  }
  h1 {
    font-size: 80px;
    width: 65%;
    padding-top: 20px;
  }
}
@media only screen and (max-width: 700px) {
  .container {
    width: 100%;
  }
  .firmast  {
    margin-bottom: 0px;
    grid-template-rows: 0px;
  }

  .grid-page {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8.75, 250px);
  }
  .grid-page {
    grid-column-end: span 1;
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 660px) {
  .container {
    width: 100%;
  }
  #main-content {
    width: 40%;
  }
  h1 {
    font-size: 70px;
    padding-top: 50px;
  }
  .uudis-content,
  .uudis-img,
  #uudis-text {
    padding: 10px;
  }
  .sorteerimine {
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    margin: 5%;
  }
  label#sorteeri,
  input#nupp-sorteeri {
    width: 60px;
    height: 40px;
  }
  select#tooted {
    width: 210px;
  }
  footer p {
    font-size: 18px;
  }
}

@media only screen and (max-width: 640px) {
  #main-content {
    width: 40%;
  }
  h1 {
    font-size: 70px;
    padding-top: 50px;
  }
  h2 {
    font-weight: bold;
    font-size: 35px;
  }
  .uudis-content,
  .uudis-img,
  #uudis-text {
    padding: 10px;
  }

  footer p {
    font-size: 18px;
  }
}

@media only screen and (max-width: 540px) {
  footer p {
    font-size: 16px;
  }
  .sorteerimine {
    height: 50px;
    font-size: 16px;
    display: flex;
    justify-content: space-around;
    margin: 5%;
  }
  label#sorteeri,
  input#nupp-sorteeri {
    width: 60px;
    height: 40px;
  }
  select#tooted {
    width: 150px;
  }
}
