* {
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}
.container {
  width: auto;
}
body {
  margin-left: auto;
  margin-right: auto;
  background-color: #f2a1a1;
  color: #1d1145;
}

p {
  font-size: 30px;
}
section {
  padding-bottom: 100px;
}
/*-----FONT------*/
h1 {
  font-size: 105px;
  color: #1d1145;
  text-align: center;
  margin-top: 40vh;
  font-weight: normal;
  width: 800px;
}

h2 {
  font-size: 42px;
  text-align: center;
  color: #1d1145;
  margin: 80px;
  font-weight: bold;
}

div h2 {
  transition: rotateY(360deg);
  font-weight: bold;
}

ul,
li {
  display: flex;
  list-style-type: none;
}
li a {
  color: #1d1145;
}
.active li a {
  color: #1d1145;
}

#logo a {
  text-decoration: none;
  color: white;
  width: 100px;
}

/*---------------HEADER-----------------*/

/*//laius 85% ja joondatud keskele Siin sees on logo, nav ja h1
    pealkiri.*/
#header-container {
  color: white;
  width: 85%;
  margin: auto;
}

#header-image {
  background-image: linear-gradient(
      112.69deg,
      #ffe1d0 0%,
      rgba(240, 32, 160, 0.6) 55%,
      #0db4b9 98%
    ),
    url(background-header.jpg);
  background-size: cover;
  height: 60vh;
}

/*------------------------------------------LOGO-----------------------------------------*/

#päis {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  height: 50px;
  color: white;
}

#nav ul {
  margin: 50px;
  width: 500px;
  display: inline-flex;
  justify-content: space-around;
  font-size: 30px;
}

nav a {
  text-decoration: none;
  color: whitesmoke;
  width: 100px;
  font-size: 20px;
}

nav a:hover {
  color: #f2a1a1;
  transition-duration: 0.2s;
}
/*-----------------------------------------HAMBURGER------------------------------------------------------*/
.hamburger {
  display: none;
}

.hamburger-icon {
  width: 30px;
  margin: 10px auto 0 auto;
  cursor: pointer;
  display: none;
}

.line {
  height: 7px;
  width: 40px;
  background-color: white;
  margin-bottom: 4px;
}

#logo {
  font-size: 36px;
  font-weight: bold;
  display: flex;
  margin-left: 60px;
}
div #logo {
  width: 150px;
  height: 50px;
  position: relative;
  animation: logo 5s infinite;
}

.pealkiri {
  margin-left: 40px;
}
/*----------------------------CONTENT--------------------------*/
#main-content {
  width: 1060px;
  margin: auto;
  align-items: center;
  line-height: 30px;
  margin-top: 200px;
}
.welcome-content {
  display: flex;
  justify-content: space-evenly;
}
#welcome-image,
#welcome-text {
  width: 490px;
  border-radius: 2px;
}
#welcome-text p:first-child::first-letter {
  font-weight: bold;
  font-size: 40px;
}
/*-------------------------------------------PRICING-FLEXIGA TEKKIS JAMA; JÃ„I ÃœHE -
  Sinu koodi juures sul tegelikult ei ole vaja seda pricing-card div'i. Sul on iga kaart juba eraldi 
  (klassita) div'i sees. Nende kolmele div'ile lisa laius 300px. SeejÃ¤rel saad pricing-content div'ile anda 
  property justify-content: space-between; ja eemaldada sellelt flex-direction: column-reverse
   (seljuhul aktiveerub vaikimisi vÃ¤Ã¤rtus flex-direction: row).------------------------------*/
#pricing {
  width: 1060px;
  margin: auto;
  align-items: center;
  line-height: 30px;
  margin-top: 200px;
}
.pricing-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  text-align: center;
}

.pricing-card {
  padding-bottom: 20px;
  width: 400px;
}

.pricing-card img {
  width: 400px;
}

.pricing-card p {
  width: 300px;
  height: 100px;

  text-align: center;
}
/*---------------------------------BUTTON--------------------------------*/
button {
  box-shadow: 0px 1px 4px #5b1474;
  border-radius: 2px;
  border-color: #5b1474;
}
button {
  border: 1px solid #5b1474;
  background-color: white;
  width: 60%;
  height: 60px;
  transition: color 0.2s;
  color: #5b1474;
  font-weight: bold;
  font-size: 17px;
}
button:hover {
  background-color: #5b1474;
  color: white;
}
/*-------------------------------------TESTIMONALS-----------------------------------------*/
.testimonials {
  align-items: center;
}

.testimonials-content {
  display: flex;
  justify-content: center;
  width: 60%;
  margin: auto;
}

.author {
  text-align: right;
  padding-bottom: 40px;
  margin-right: 20%;
}

/*---Uudised---*/

.news-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

.news-card {
  padding-bottom: 20px;
  width: 400px;
}

/*----------------------------------------------FOOTER-----------------------------------*/
footer {
  width: 20%;
  margin: 0 auto;
}
footer p {
  text-align: center;
  font-size: 25px;
  color: black;
}
.media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
}
