* {
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

.container {
  width: auto;
}
body {
  margin-left: auto;
  margin-right: auto;
  background-color: #f2a1a1;
  color: #1d1145;
}

p {
  font-size: 25px;
}
section {
  padding-bottom: 100px;
}
/*-----FONT------*/
h1 {
  font-size: 100px;
  color: #1d1145;
  text-align: center;
  margin-top: 20vh;
  font-weight: normal;
}

h2 {
  font-size: 42px;
  text-align: center;
  color: #1d1145;
  margin: 60px;
  font-weight: bold;
}

div h2 {
  font-weight: bold;
}

ul,
li {
  display: flex;
  list-style-type: none;
}
li a {
  color: #1d1145;
}
.active li a {
  color: #1d1145;
}

#logo {
  width: 65px;
  height: 66px;
  animation-name: example;
  animation-duration: 10s;
}
@keyframes example {
  0% {
    fill: #f2a1a1;
  }
  20% {
    fill: #ffe1d0;
  }
  40% {
    fill: #f2a1a1;
  }
  60% {
    fill: #ffe1d0;
  }
  70% {
    fill: #f2a1a1;
  }
  80% {
    fill: #ffe1d0;
  }
  90% {
    fill: #ffe1d0;
  }
  95% {
    fill: #f2a1a1;
  }
  100% {
    fill: #f2a1a1;
  }
}

/*---------------HEADER-----------------*/

#header-container {
  color: #ffe1d0;
  width: 85%;
  margin: auto;
  padding-top: 20px;
}

#header-image {
  background-image: linear-gradient(
      112.69deg,
      #ffe1d0 15%,
      rgba(240, 32, 160, 0.6) 35%,
      #0db4b9 98%
    ),
    url(background-header.jpg);
  background-size: cover;
  height: 100vh;
}

/*------------------------------------------LOGO-----------------------------------------*/

#päis {
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
  height: 70px;
  width: 100%;
  color: white;
}

#nav ul {
  margin: 50px;
  width: 450px;
  display: inline-flex;
  justify-content: space-around;
  font-size: 30px;
  font: bold;
}

nav a {
  text-decoration: none;
  color: whitesmoke;
  width: 100px;
  font-size: 20px;
}

nav a:hover {
  color: #f2a1a1;
  transition-duration: 0.2s;
}
/*-----------------------------------------HAMBURGER------------------------------------------------------*/
.hamburger {
  display: none;
}

.hamburger-icon {
  width: 30px;
  margin: 10px auto 0 auto;
  display: none;
  cursor: pointer;
}

.line {
  height: 4px;
  width: 30px;
  background-color: white;
  margin-bottom: 4px;
}

.pealkiri {
  margin-left: 40px;
}
/*----------------------------CONTENT--------------------------*/
#main-content {
  width: auto;
  margin: auto;
  line-height: 30px;
  margin-top: 200px;
}
section .uudis {
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: space-around;
}
.uudis-content {
  padding: 5%;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}
#uudis-image,
#uudis-text {
  align-items: center;
}
#uudis-image img {
  height: 100px;
  padding-top: 10%;
  rotate: 90deg;
}

.btn-uudis {
  width: 40%;
  margin: auto;
  margin-top: 2%;
}
.btn-uudis:hover {
  background-color: #1d1145;
  color: #f2a1a1;
}
/*--
#welcome-text p:first-child::first-letter {
  font-weight: bold;
  font-size: 40px;
}--*/

.sorteerimine {
  height: 50px;
  font-size: 16px;
  display: flex;
  justify-content: flex-end;
  width: 96%;
  margin-bottom: 10px;
}
label#sorteeri,
input#nupp-sorteeri {
  width: 150px;
  height: 40px;
}
select#tooted {
  width: 270px;
}

input#nupp-sorteeri:hover {
  background-color: #1d1145;
  color: #f2a1a1;
  transition: 0.2s;
}
.pricing-card p {
  width: 300px;
  height: 100px;

  text-align: center;
}
.grid-adv {
  padding-top: 5%;
}

.grid-page {
  padding: 0 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 250px 250px 250px;
  gap: 80px;
}

.grid-page .image-wrapper {
  height: 240px;
  margin-bottom: 10%;
}

.grid-page img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-page .image-wrapper {
  margin: 5%;
  align-items: center;
  padding-bottom: 5%;
}

/*---------------------------------BUTTON--------------------------------*/

button {
  box-shadow: 0px 1px 4px #1d1145;
  border-radius: 2px;
  border-color: #1d1145;
  border: 1px solid #1d1145;
  background-color: white;
  width: 100%;
  height: 50px;
  transition: color 0.2s;
  color: #1d1145;
  font-weight: bold;
  font-size: 17px;
  box-align: center;
}
button:hover {
  background-color: #1d1145;
  color: #f2a1a1;
}

/*---Toote kirjeldus--*/

.toote-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
}
#toote-pilt,
#toote-kirjeldus {
  width: 50%;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 2%;
}
#toote-pilt img {
  width: 100%;
}

/*----Breadcrum----*/
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li + li:before {
  padding: 8px;
  color: #1d1145;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #1d1145;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #0db4b9;
}
/*-----Ostukorv----*/
.grid-adv-ost {
  padding-top: 1%;
  display: grid;
  grid-template-columns: 1fr 1fr  ;
  grid-template-rows:  450px 450px;
  gap: 40px;
  margin: 0 auto;
  padding-bottom: 10%;
}

.grid-ost {
  padding: 50px;
  display: flex;
  justify-content: space-around;
  gap: 30px;
}

.grid-ost .grid-ost-wrapper {
  height: 440px;
  margin-bottom: 1%;
}

.grid-ost img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.ost-sisu{
  width: 100%;
  display: block;
}
.ost-sisu p, .maksma-grid p{
  font-size: 20px;
}

.eemaldaost{
  width: 25%;
}

.maksma-grid{
  width: 100%;
  display: block;
  margin-bottom: 10%;
}

input#email {
  height: 20px;
  width: 70%;
  margin-bottom: 2%;
}

.maksma,
.tyhista {
  width: 200px;
  padding-bottom: 2%;
}


/*----ARVE*/
.arve-teade {
  text-align: center;
  margin-bottom: 20%;
  margin-left: auto;
  margin-right: auto;
}
.teade {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/*-------------------------------------FIRMAST-----------------------------------------*/
.firmast {
  align-items: center;
  witdh: 90%;
}

.firma-content {
  display: flex;
  align-items: center;
  width: 70%;
  margin: auto;
}

.row {
  display: flex;
  justify-content: center;
  width: 90%;
  margin-left: auto;
  margin-right:auto;
}
.column {
  width: 45%;
  margin: 5%;
  margin-left: 5%;
}



.column img {
  width: 95%;
}



/*---Uudised---*/

.news-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

.news-card {
  padding-bottom: 20px;
  width: 400px;
}
/*-----KONTAKT---*/

section.contact {
  width: 90%;
  margin: auto;
  align-items: center;
  line-height: 30px;
  margin-top: 5%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
#maps-content,
#contact-text {
  width: 100%;
  border-radius: 2px;
}

iframe {
  width: 100%;
  height: 400px;
}

#contact-text {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
#meie-contact,
.contact-area {
  width: 100%;
}

tr.row-kontakt {
  font-size: 25px;
}

#contact-text input,
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}
textarea#sisu {
  height: 200px;
  font-size: 20px;
}
input#email {
  height: 50px;
  font-size: 20px;
}
input#kinnitan,
input#uudiskiri {
  inline-size: auto;
}
input#saada {
  height: 50px;
  font-size: 20px;
}
input#saada:hover {
  background-color: #1d1145;
  color: #f2a1a1;
}
/*----------------------------------------------FOOTER-----------------------------------*/
footer {
  width: 20%;
  margin: 0 auto;
}
footer p {
  text-align: center;
  font-size: 25px;
  color: black;
}
.media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
  color: #1d1145;
}

.media a img:hover {
  color: #1d1145;
}
